<div class="col-4 login-alter">
    <form [formGroup]="form" (ngSubmit)="formSubmit(form)">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" formControlName="email" id="email" class="form-control" 
            [ngClass]="{ 'is-invalid': isFormSubmit && f.email.errors }"/>
            <div *ngIf="isFormSubmit && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
              </div>
            <label class="form-label" for="form2Example1">Email address</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" formControlName="password" id="password" class="form-control" 
            [ngClass]="{ 'is-invalid': isFormSubmit && f.password.errors }"/>
            <div *ngIf="isFormSubmit && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
            <label class="form-label" for="form2Example2">Password</label>
        </div>

        <!-- 2 column grid layout for inline styling -->


        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a [routerLink]="'/register'">Register</a></p>
        </div>
    </form>
</div>